<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="">
    <meta property="og:url" content="http://domain.namespace">
    <meta property="og:image" content="http://domain.namespace/logo.jpg">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Lorem ispum loremisque is pummer hokaidom">
    <meta name="google" content="nositelinkssearchbox">
    <meta name="description" content="Lorem ispum loremisque is pummer hokaidom">
    <meta name="keywords" content="Website">
    <meta name="robots" content="nofollow">
    <meta name="googlebot" content="nofollow">
    <link href="images/favicon.ico" rel="icon" sizes="64x64" type="image/ico">
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body>
    <div class="page">
      <header class="header">
        <div class="header__main">
          <div class="wrapper">
            <div class="header__left">
              <div class="header__logo"><a href="index.html"><img src="images/logo.svg" alt="logo"></a></div>
            </div>
            <div class="header__tools">
              <div class="header__menu">
                <div class="header__menuToggle"><span></span><span></span><span></span></div>
                <div class="header__menuOverlay"></div>
                <div class="header__menuDropdown">
                  <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li><a href="about.html">Giới thiệu</a></li>
                    <li><a href="list-song-more.html"><span>Bài hát</span></a>
                      <ul>
                        <li><a href="category-alphabet.html">Bảng chữ cái</a></li>
                        <li><a href="category-cat.html">Danh mục</a></li>
                        <li><a href="category-cat.html">Tác giả</a></li>
                      </ul>
                    </li>
                    <li class="noPos"><a href="index.html"> <span>Điệu nhạc</span></a>
                      <ul class="menuMega">
                        <li><a href="list-song.html"> <span>Ballad</span></a></li>
                        <li><a href="list-song.html"> <span>Rock</span></a></li>
                        <li><a href="list-song.html"> <span>Pop</span></a></li>
                        <li><a href="list-song.html"> <span>ChaChaCha</span></a></li>
                        <li><a href="list-song.html"> <span>Rhumbar</span></a></li>
                        <li><a href="list-song.html"> <span>Tango</span></a></li>
                        <li><a href="list-song.html"> <span>Jum</span></a></li>
                        <li><a href="list-song.html"> <span>Valse</span></a></li>
                        <li><a href="list-song.html"> <span>Boston</span></a></li>
                        <li><a href="list-song.html"> <span>Ballad</span></a></li>
                        <li><a href="list-song.html"> <span>Rock</span></a></li>
                        <li><a href="list-song.html"> <span>Pop</span></a></li>
                        <li><a href="list-song.html"> <span>ChaChaCha</span></a></li>
                        <li><a href="list-song.html"> <span>Rhumbar</span></a></li>
                        <li><a href="list-song.html"> <span>Tango</span></a></li>
                        <li><a href="list-song.html"> <span>Jum</span></a></li>
                        <li><a href="list-song.html"> <span>Valse</span></a></li>
                        <li><a href="list-song.html"> <span>Boston</span></a></li>
                      </ul>
                    </li>
                    <li><a href="chord.html">Hợp âm</a></li>
                    <li><a href="pdf.html">PDF</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header__search">
          <div class="wrapper">
            <form action="search.html" method="get">
              <div class="header__search--title">Cùng tìm kiếm bài hát bạn thích nhất</div>
              <input type="text" id="searchDesktop" placeholder="Nhập tên bài hát, từ khóa tìm kiếm...">
              <div class="header__search--note">
                <p>Tìm với tên bài hát : Ca vang tình yêu Chúa, Tình yêu Thiên Chúa</p>
                <p> Nhập bài hát đầy đủ dấu và chữ, không ghi tắt.</p>
              </div>
            </form>
          </div>
        </div>
      </header>
      <div class="main-content">
        <div class="wrapper">
          <div class="box padding">
            <div class="box-title">
              <h1>Từ khóa : Ca vang tình yêu Chúa</h1>
            </div>
            <div class="box-content">
              <div class="list-song search">
                <div class="song">
                  <div class="song__title"><a href="song-detail.html">Ca vang tình yêu Chúa 4<span>Đinh Minh Hoàng</span></a></div>
                  <div class="song__desc">Ngài là ánh dương soi đường dọi vào giữa nơi đêm trường. Ngài là bóng cây cao rộng phủ rợp biết bao tâm hồn. Tình Chúa như ánh trăng thanh tỏa lan trên khắp dương gian.</div>
                </div>
                <div class="song">
                  <div class="song__title"><a href="song-detail.html">Ca vang tình yêu Chúa 3<span>Đinh Công Huỳnh</span></a></div>
                  <div class="song__desc">Dòng suối êm đềm êm trôi, êm trôi như ân tình Chúa. Mùa xuân tinh khôi tô điểm cho đời thắm tươi rực rỡ. Dừng bước gian trần cho tâm can con nghỉ ngơi trong Ngài. Một phút bình yên tim con lâng lâng ngất ngây đêm ngày.</div>
                </div>
                <div class="song">
                  <div class="song__title"><a href="song-detail.html">đoàn con đến đây<span>Hoài Chiên</span></a></div>
                  <div class="song__desc">Ðoàn con đến đây dâng lời ước nguyện. Ngày đêm mến cha cho trọn khối tình con. Ðược yêu mến Cha bao là êm đềm. Hồn con sướng vui tháng năm hết ưu phiền.</div>
                </div>
                <div class="song">
                  <div class="song__title"><a href="song-detail.html">lòng Chúa ái tuất<span>Nguyễn Bang Hanh</span></a></div>
                  <div class="song__desc">Đây lòng Chúa ái tuất không bến bờ, Thương loài nhân thế đang vướng tội nhơ. Đem trót Máu Thịt nuôi dưỡng xác hồn. Ngày đêm ban xuống cho muôn ngàn ơn.</div>
                </div>
                <div class="song">
                  <div class="song__title"><a href="song-detail.html">Phút Linh Thiêng<span>Thành Tâm</span></a></div>
                  <div class="song__desc">Người ơi nào mau tới thờ lạy Chúa, quỳ dâng lòng tôn kính Chúa trên cao. Linh thiêng, ôi phút giây giờ đây khi đoàn con được chiêm ngắm nhan thánh Chúa chí nhân quyền uy.</div>
                </div>
                <div class="song">
                  <div class="song__title"><a href="song-detail.html">Thờ Lạy Chúa<span>Hoài Đức</span></a></div>
                  <div class="song__desc">Thờ lạy Chúa ! Thờ lạy Chúa ! Uy quyền khả ái trong hình bánh náu thân. Thờ lạy Chúa ! Thờ lạy Chúa ! Uy quyền khả ái nương mình dưới thế trần.</div>
                </div>
                <div class="song">
                  <div class="song__title"><a href="song-detail.html">Giêsu Ở Cùng Con<span>Chưa Rõ Tác Giả</span></a></div>
                  <div class="song__desc">Giêsu ơi ở cùng con luôn mãi. Chúa lìa con, con biết đâu nương nhờ? Nơi dương gian con giá lạnh hôm mai. Hãy ở lại trong cõi lòng con thơ.</div>
                </div>
                <div class="song">
                  <div class="song__title"><a href="song-detail.html">Dâng<span>Nguyễn Duy</span></a></div>
                  <div class="song__desc">Nguyện dâng Chúa lễ tình yêu chân thành, này tấm bánh đây rượu nho thơm ngát. Nguyện dâng Chúa đôi bàn tay con hiến, Chúa thương chấp nhận ban phước lành tháng năm.</div>
                </div>
                <div class="song">
                  <div class="song__title"><a href="song-detail.html">Con Mến Yêu<span>Chưa Rõ Tác Giả</span></a></div>
                  <div class="song__desc">Con mến yêu tin thờ trong lòng. Cùng chút tình ngây thơ ngắm trông, trong Thánh Thể Chúa cả càn khôn, hằng náu thân tù hãm vì con.</div>
                </div>
                <div class="song">
                  <div class="song__title"><a href="song-detail.html">Tâm Tình Với Chúa<span>Giang Tâm</span></a></div>
                  <div class="song__desc">Lặng quỳ bên Chúa, ôi Chúa Giêsu thánh thể, hồn tràn niềm vui chẳng biết nói sao nên lời. Vì mến thương con Chúa đã hiện hữu nơi đây, nguồn suối ơn thiêng, nuôi dưỡng tháng ngày đời chúng con.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="wrapper">
          <div class="footer__wrapper">
            <div class="footer__copyright">@ Copyright 2020 by Hợp âm thánh ca</div>
            <div class="footer__social">
              <ul>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-youtube"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script src="js/app.min.js" type="text/javascript"></script>
</html>